


#calculator
{  margin-left: 30%;
    margin-top: 5%;
    width: 30%;
    height: 30%;
    min-width: 300px;
    min-height: 400px;
    border: 5px solid black;
    text-align:center;
     background-color:greenyellow;
}

#display-conatainer
{
    font-size: small;
    color: blueviolet;
    width: 50%;
    height: 20%;
    border: 2px solid black;
    margin-top: 30%;
}

.button
{
    width: 20%;
    height: 45%;
    display:inline-flex;
    border: 2px solid grey;
    font-size:larger;
    justify-content:center;
    margin: 1.4px;
    background-color:plum
}

#heading
{
    text-align: center;
    color: rgb(0, 187, 255);
    background-color: black;
}